header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.container {
	width: 80%
}

.container header .login {
	display: inline-block;
	float: right;
}

i.material-icons.message-icons {
	margin-left: 10px;
}

.collection li.collection-item.avatar.message-item {
	min-height: 65px;
}

.message-row {
	margin-bottom: 0;
}
